html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.load-more {
  display: flex;
  justify-content: center;
  height: 100;
  width: 100;
  background-color: rgb(42, 187, 54);
  padding: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
